body {
  background-image: url(../img/forest.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  text-align: center;
}

p {
  font-size: 30px;
  padding-left: 500px;
  padding-top: 150px;
}

img.forest {
  width: 75%;
}

.banner {
  width: 100%;
  background-color: url(..img/forest2.jpg);
}

.sidebar {
  color: white;
  padding-top:5%;
  text-align: left;
}

.column {
  width: 30%;
  float: left;
}
